[submodule "AMOCBox"]
	path = AMOCBox
	url = https://github.com/andreasmorr/AMOCBox.git
[submodule "AMOCPlaSim"]
	path = AMOCPlaSim
	url = https://github.com/andreasmorr/AMOCPlaSim.git
[submodule "AMOCBoussinesq"]
	path = AMOCBoussinesq
	url = https://github.com/andreasmorr/AMOCBoussinesq.git
[submodule "AMOCClimberX"]
	path = AMOCClimberX
	url = https://github.com/andreasmorr/AMOCClimberX.git
